@{
    ViewData["Title"] = "Bloquear Cita";
}
<link rel="stylesheet" href="~/css/BloquearFecha.css" />

<div class="usuarios-container">
    <h2 class="titulo-rojo">Bloquear Fechas</h2>

    <div style="color:green;font-weight:bold;">
        Mensaje: La fecha ha sido bloqueada correctamente.
    </div>

    <form action="/Citas/BloquearFecha" method="post" class="form-usuario">
        <div class="form-row">
            <label>Seleccionar fecha a bloquear:</label>
            <input name="fecha" type="date" class="input-text" />
        </div>
        <div class="acciones-form">
            <button type="submit" class="btn-guardar">Bloquear fecha</button>
            <a href="/Citas/Index" class="btn-cancelar">Cancelar</a>
        </div>

      
    </form>

    <hr />
    <h4>Fechas bloqueadas</h4>
    <table style="width:100%; border-collapse:collapse;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>05/12/2025</td>
                <td>
                    <form method="post" style="display:inline;">
                        <input type="hidden" name="id" value="1" />
                        <button href="#" type="submit" class="btn-cancelar">Desbloquear</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>06/12/2025</td>
                <td>
                    <form method="post" style="display:inline;">
                        <input type="hidden" name="id" value="2" />
                        <button href="#" type="submit" class="btn-cancelar">Desbloquear</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>


