@{
    ViewData["Title"] = "Inicio";
}

@* Referencia única al CSS unificado *@
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />



@* --- BOTÓN FLOTANTE WHATSAPP --- *@
<a href="https://wa.me/50672432805" class="whatsapp-float shadow-lg" target="_blank">
    <i class="fab fa-whatsapp"></i>
</a>