
@{
    ViewData["Title"] = "Política de Privacidad";
}
<div class="container my-5 py-5">
    <h2 class="fw-bold titulo-fino titulo-izq">@ViewData["Title"]</h2>
    <p class="mt-4 text-muted">Información legal y de seguridad de Moto Repuestos Rojas.</p>
</div>