.offcanvas {
    width: 400px !important;
}

.rounded-start-4 {
    border-top-left-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
}

.shadow-inner {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.05);
}

.hover-scale:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.sticky-top {
    z-index: 1020;
}
